div{
    padding: 2px;
}
.banner-section-bg-container{
    background-color: #000000;
    padding: 20px;
    height:90vh;
    
}
.banner-container{
    padding:50px;
}
.small-description{
    color: #00bfb8;
    font-family: "Roboto";
    font-size: 20px;
}

.about-me-section {
    background-color: #111111;
}

.about-me-section-sub-heading {
    color: #cced00;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: bold;
}

.about-me-section-heading {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 36px;
    font-weight: bold;
}
.about-me-section-description {
    color: #9aa5b1;
    font-family: "Roboto";
    font-size: 30px;
}

.about-me-section-image {
    width: 100%;
    
}


.skills-section {

    background-color: #52606d;
}

.skills-section-sub-heading {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: bold;
}
.navbar{
    background-color: rgb(240, 227, 227);
    

}
.navbar-nav a nav-link{
    color:#9aa5b1;
}
.skills-card {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 10px;
}

.skills-card-image {
    width: 64px;
    height: 64px;
}

.skills-card-title {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}
nav a span{
    color: rgb(98, 13, 13);
}
.portfolio-logo {
    font-family: "Bree Serif";
    font-size: 24px;
    font-weight: bold;
    border-style: solid;
    border-width: 0px;
    color: #eef2f6;
    padding-left: 10px;
    padding-right: 10px;
}





@media screen and (min-width:992px) {
    .banner-section-heading {
        color: white;
        font-family: "Roboto";
        font-size: 78px;
        font-weight: 300;
    }
}

.banner-section-heading {
    color: white;
    font-family: "Roboto";
    font-size: 45px;
    font-weight: 300;
}

.banner-section-description {
    color: pink;
    font-family: "fantasy";
    font-size: 30px;
    font-weight: bold;

}

.banner-section-image {
    margin-top: 30px;
    border-radius: 100px;
    height:200px;
    width:200px;
    margin-bottom: 10px;
}

.person-name {
    color: #00bfb8;
    font-family: 'bree serif';
}

.custom-button {
    color: white;
    background-color: #4b6cc1;
    width: 130px;
    height: 45px;
    border-width: 0;
    border-radius: 8px;
}

.projects-section {
    background-color: #000000;

}

.projects-section-sub-heading {
    color: #cced00;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: bold;
}

.projects-section-heading {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 36px;
    font-weight: bold;
}

.projects-card {
    background-color: #151523;
    border-radius: 40px;
    padding:10px;
}

.projects-card-image {
    height: 100px;
    width:100px;
    border-radius: 50px;
}

.projects-card-sub-title {
    color: #f6f8fb;
    font-family: "sanserif";
    font-size: 24px;
    font-weight: 500;
}

.projects-card-title {
    color: white;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 500;
    margin-top: 5px;
}

.projects-card-description {
    color: #9aa5b1;
    font-family: "Roboto";
    font-size: 20px;
}

.projects-card-link {
    color: #cced00;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: bold;
}

.services-section {
    background-color: #336699;
}

.services-section-sub-heading {
    color: #cced00;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: bold;
}

.services-section-heading {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 36px;
    font-weight: bold;
}

.services-card {
    background-color: #538cc6;
    border-radius: 8px;
    padding: 20px;
}

.services-card-image {
    height: 100px;
    width: 100px;
    border-radius: 100px;
}

.services-card-images {
    height: 48px;
    width: 55px;
}

.services-card-title {
    color: #ffffff;
    font-family: "Bree Serif";
    font-size: 24px;
    font-weight: bold;
}

.services-card-description {
    color: #000000;
    font-size: 20px;
}

.testimonials-section {
    background-color: #1f2933;
    padding: 40px;
}

.testimonials-section-sub-heading {
    color: #cced00;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: bold;
}

.testimonials-section-heading {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 36px;
    font-weight: bold;
}

.testimonials-card {
    background-color: #323f4b;
    padding: 20px;
}

.testimonials-card-image {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.testimonials-card-description {
    color: #9aa5b1;
    font-family: "Roboto";
    font-size: 18px;
}

.testimonials-card-person-name {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 500;
}

.footer-section {
    background-color: #0d2436;
}

.footer-section-image {
    width: 60px;
    height: 60px;
    border-radius: 40px;
}



.footer-section-sub-heading {
    color: #cced00;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: bold;
}

.footer-section-text {
    color: #9aa5b1;
    font-family: "Roboto";
    font-size: 14px;
}


.horizontal-line {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

.icon {
    color: #ffffff;

}

.para1 {
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 20px;

}